<footer class="mt-5 mb-4 small text-center">
  <div class="footer-faqs-disclaimer">
  <p class="footer-faqs">
    <strong>FAQs:</strong>
    Free calculators • No signup • Accurate formulas • No data stored • Mobile-friendly • Ads support free tools
  </p>

  <p class="footer-disclaimer">
    <strong>Disclaimer:</strong>
    All calculations on ClickNCalculate are estimates for informational purposes only and should not be considered
    financial, medical, or legal advice.
    <a routerLink="/terms-conditions" class="footer-link">Read full disclaimer</a>
  </p>
</div>

  <div class="mb-2" *ngIf="isHomePage()">
    <a routerLink="/privacy-policy" class="mx-2">Privacy Policy</a>
    <span class="separator">|</span>
    <a routerLink="/terms-conditions" class="mx-2">Terms & Conditions</a>
    <span class="separator">|</span>
    <a routerLink="/faqs" class="mx-2">FAQs</a>
  </div>
  <div>
    ©️ 2025 ClicknCalculate | All Rights Reserved
  </div>
</footer>